Voucher Type---sales purchase

Customer Name --dropdown  debit customer name

(swagger)
Product Group Name--->pc keywords--->dropdown

Make (company name)--input
Model  --input
Product Code  --input
Item Name--->make model product

Opening Value (Initial Price)---1000
Opening Balance (Stock-in-hand)---5
Purchase Price----1000
quantity
Order Due Date-- date 


status pending.....



 